body {
  display: block;
  padding: 80px;
  margin: 0;
}

h2 {
  float: left;
}

form {
  display: block;
}

#search-form label {
  display: block;
}

#search-input {
  height: 30px;
  width: 300px;
}

.search-button {
  height: 30px;
  vertical-align: middle;
}

.navbar {
  position: fixed;
  background-color: #EEEEEE;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #DDDDDD;
}

.navitem {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 3px;
}

.pagination {
  border: 1px solid black;
  display: inline-block;
}

.date, .location {
  color: #939393;
}

.job {
  color: blue;
  font-weight: bold;
}