h2 {
  float: left;
}

.navbar {
  position: fixed;
  background-color: #EEEEEE;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #DDDDDD;
}

.navitem {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 3px;
}

.pagination {
  border: 1px solid black;
  display: inline-block;
}

.submit {
  background-image: url("./magnifying-glass.png");
  height: 60px;
  width: 60px;
}

.date, .location {
  color: #939393;
}

.job {
  color: blue;
  font-weight: bold;
}